<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Karnataka Road Transportation Service</span>
    <span class="example-spacer"></span>
    <div class="nav">
      <ul>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/contact">Contact Us</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet> -->

<app-my-nav></app-my-nav>
<app-my-dashboard></app-my-dashboard>
<router-outlet></router-outlet>